body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  background-image: url('res/background.pavif');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #eed5a3;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: #ccc;
}

span{
  font-family: 'Times New Roman', Times, serif;
  color: #00a2ff;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;

}
/*Drop Down*/

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #fff; 
}

nav ul li a:hover{
  color: #00a2ff;
  
}

.user-actions button {
  margin-left: 20px;
  background-color: #9bbd1f;
  color: rgb(135, 238, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10%;
  background-origin: padding-box;
}
.header .search-form{
  position: absolute;
  top: 150%; right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  align-items: center;
  transform:scaleY(0) ;
  transform-origin: top;
}
.header .search-form input{
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}
.header .search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);

}
.header .search-form label:hover{
  color: var(--main-color);

}

/*Hero Graphics*/


.home{
  background-image: url(res/car.webp);
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  color: #fff;
  flex-direction: column;
}

.hero {
  font-size: 50px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

.prod {
  text-align: center; /* To center-align only the h1 */
  background-color: #333; /* Background color for the heading */
  color: #fff; /* Text color for the heading */
  padding: 20px; /* Add padding for better visual appearance */
  margin: 0; /* Remove default margin for the h1 */
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px; /* Adjust the gap as needed */
} 

.product {
  width: 250px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.product h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product p {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.details-btn, .add-to-cart-btn {
  background-color: #0fdfa1;
  color: rgb(195, 10, 228);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-btn:hover, .add-to-cart-btn:hover {
  background-color: #90878800;
}

.background-image {
  background-image: url('res/background.avif'); /* Add the URL of your background image here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Text color on top of the background image */
}

.content {
  background-color: rgba(0, 0, 0, 0.5); /* Background color for content with some transparency */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  margin-top: 20px;
}
.contact-form {
  width: 500px;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #0099ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form h3 {
  text-align: center;
  margin-bottom: 20px;
}